@import './base.less';

.App {
    .flexcolumn();
    max-width: 350px;

    header {
        .flexcolumn();
        border: 2px groove @links;
        border-radius: 20%;
        background-color: @bg;

        .header {
            .flexrow();
            text-align: center;
        }
        nav {
            .flexcolumn();
            .nav {
                display: none;
            }
            .nav-small {
                .flexcolumn();
                width: 200px;

                .button {
                    margin-bottom: .2em;
                    width: 150px;
                }

                .nav-option {
                    .flexcolumn();
                    padding: .1em .5em;
                }
            }
        }
    }
    .main {
        .flexcolumn();

        .covid {
            .flexcolumn();
            background-color: @warning;
            padding: 1em;

            ul {
                li {
                    font-weight: bold;
                }
            }
        }
        .text {
            .flexcolumn();
            padding: 1em;
        }
        .about {
            .flexcolumn();
            width: 95%;
            margin: 0;
        }
        .conduct {
            .flexcolumn();
            width: 95%;
        }
        .member {
            .flexcolumn();
            width: 95%;

            .member-id {
                .flexrow();

                img {
                    width: 20%;
                    margin: .5em;
                    border-radius: 20%;
                }
            }
        }
        section {
            .flexcolumn();
            width: 95%;

            p {
                blockquote {
                    font-style: italic;
                    background-color: @bg;
                    margin-bottom: 0;
                }
            }

            .connect {
                .flexcolumn();
                h4 {
                    align-self: flex-start;
                }
                ul {
                    .flexcolumn();
                    align-self: flex-start;
                    max-width: 90%;
                    margin: .2em 0;

                    li {
                        .flexrow();
                        align-self: flex-start;
                        margin: .2em 0;
                        a {
                            .flexrow();
                            img {
                                max-width: 40%;
                                margin: 0 1em;
                            }
                        }
                    }
                    #membership {
                        .flexcolumn();
                        align-self: flex-start;
                        margin: .2em 0;
                        a {
                            .flexrow();
                            img {
                                max-width: 40%;
                                margin: 0 1em;
                            }
                        }
                        
                    }
                }
            }
        }
    }
    hr {  
        height: 8px; 
        background-color: @links; 
        border-radius: 20%;
        width: 95%;
    } 
    footer {
        .flexcolumn();
        background-color: @bg;
        width: 95%;
        margin-bottom: 1em;
        padding: 1em 0;

        .nav {
            .flexcolumn();
            margin-bottom: .5em;

            .column {
                .flexcolumn();
            }

            .column3,
            .column2 {
                button {
                    .flexrow();
                    border-radius: 40%;
                    padding: .2em;
                    width: 150px;
                    height: 50px;
                    border: 2px groove @links;
                    margin: .1em;

                    img {
                        max-width: 30%;
                        margin: .1em .5em;
                    }
                    span {
                        margin: .1em .5em;
                    }
                }
                
            }
        }
    }
}

@import './media.less';