@import './base.less';

.App {
    .flexcolumn();
    max-width: 350px;

    header {
        .flexcolumn();

        .header {
            .flexrow();
            text-align: center;
        }
        nav {
            .nav {
                display: none;
            }
        }
    }
}