.center {
  margin: auto;
}
a {
  color: #c57633;
  text-decoration: none;
}
.nav-option {
  color: #c57633;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clicked {
  border: 2px solid #c57633;
}
li {
  list-style-type: disk;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
}
.App header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App header .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.App header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App header nav .nav {
  display: none;
}
.App header nav .nav-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App header nav .nav-small .button {
  margin-bottom: 0.2em;
}
.App header nav .nav-small .nav-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.1em 0.5em;
}
.App .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .main .covid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff3cd;
  padding: 1em;
}
.App .main .covid ul li {
  font-weight: bold;
}
.App .main .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.App .main .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.App .main .conduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.App .main .member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.App .main .member .member-id {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.App .main .member .member-id img {
  width: 20%;
  margin: 0.5em;
  border-radius: 20%;
}
.App hr {
  height: 8px;
  background-color: #c57633;
  border-radius: 20%;
  width: 95%;
}
.App footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  width: 95%;
}
.App footer .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App footer .nav .column1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App footer .nav .column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App footer .nav .column3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
