.center {
  margin: auto;
}
a {
  color: #c57633;
  text-decoration: none;
}
.nav-option {
  color: #c57633;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.clicked {
  border: 2px solid #c57633;
  font-weight: bold;
}
li {
  list-style-type: disk;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
}
.App header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px groove #c57633;
  border-radius: 20%;
  background-color: #e8e8e8;
}
.App header .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.App header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App header nav .nav {
  display: none;
}
.App header nav .nav-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.App header nav .nav-small .button {
  margin-bottom: 0.2em;
  width: 150px;
}
.App header nav .nav-small .nav-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.1em 0.5em;
}
.App .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .main .covid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff3cd;
  padding: 1em;
}
.App .main .covid ul li {
  font-weight: bold;
}
.App .main .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.App .main .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0;
}
.App .main .conduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.App .main .member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.App .main .member .member-id {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.App .main .member .member-id img {
  width: 20%;
  margin: 0.5em;
  border-radius: 20%;
}
.App .main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.App .main section p blockquote {
  font-style: italic;
  background-color: #e8e8e8;
  margin-bottom: 0;
}
.App .main section .connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .main section .connect h4 {
  align-self: flex-start;
}
.App .main section .connect ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  max-width: 90%;
  margin: 0.2em 0;
}
.App .main section .connect ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin: 0.2em 0;
}
.App .main section .connect ul li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.App .main section .connect ul li a img {
  max-width: 40%;
  margin: 0 1em;
}
.App .main section .connect ul #membership {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin: 0.2em 0;
}
.App .main section .connect ul #membership a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.App .main section .connect ul #membership a img {
  max-width: 40%;
  margin: 0 1em;
}
.App hr {
  height: 8px;
  background-color: #c57633;
  border-radius: 20%;
  width: 95%;
}
.App footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  width: 95%;
  margin-bottom: 1em;
  padding: 1em 0;
}
.App footer .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
}
.App footer .nav .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App footer .nav .column3 button,
.App footer .nav .column2 button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 40%;
  padding: 0.2em;
  width: 150px;
  height: 50px;
  border: 2px groove #c57633;
  margin: 0.1em;
}
.App footer .nav .column3 button img,
.App footer .nav .column2 button img {
  max-width: 30%;
  margin: 0.1em 0.5em;
}
.App footer .nav .column3 button span,
.App footer .nav .column2 button span {
  margin: 0.1em 0.5em;
}
@media only screen and (min-width: 400px) {
  .App {
    max-width: 400px;
  }
}
@media only screen and (min-width: 430px) {
  .App {
    max-width: 430px;
  }
}
@media only screen and (min-width: 530px) {
  .App {
    max-width: 530px;
  }
}
@media only screen and (min-width: 730px) {
  .App {
    max-width: 730px;
  }
  .App header {
    padding: 1em;
  }
  .App header nav {
    background-color: #e8e8e8;
    border-radius: 20%;
  }
  .App header nav .nav-small {
    display: none;
  }
  .App header nav .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .App header nav .nav .nav-option {
    padding: 1em;
    cursor: pointer;
  }
  .App footer .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .App footer .nav .column {
    padding: 1em;
    height: 340px;
    justify-content: flex-start;
  }
  .App footer .nav .column2 a {
    padding: 0.5em;
  }
}
