@import './base.less';

.App {
    .flexcolumn();
    max-width: 350px;

    header {
        .flexcolumn();

        .header {
            .flexrow();
            text-align: center;
        }
        nav {
            .flexcolumn();
            .nav {
                display: none;
            }
            .nav-small {
                .flexcolumn();

                .button {
                    margin-bottom: .2em;
                }

                .nav-option {
                    .flexcolumn();
                    padding: .1em .5em;
                }
            }
        }
    }
    .main {
        .flexcolumn();

        .covid {
            .flexcolumn();
            background-color: @warning;
            padding: 1em;

            ul {
                li {
                    font-weight: bold;
                }
            }
        }
        .text {
            .flexcolumn();
            padding: 1em;
        }
        .about {
            .flexcolumn();
            width: 95%;
        }
        .conduct {
            .flexcolumn();
            width: 95%;
        }
        .member {
            .flexcolumn();
            width: 95%;

            .member-id {
                .flexrow();

                img {
                    width: 20%;
                    margin: .5em;
                    border-radius: 20%;
                }
            }
        }
    }
    hr {  
        height: 8px; 
        background-color: @links; 
        border-radius: 20%;
        width: 95%;
    } 
    footer {
        .flexcolumn();
        background-color: @bg;
        width: 95%;

        .nav {
            .flexcolumn();

            .column1 {
                .flexcolumn();
            }
            .column2 {
                .flexcolumn();
            }
            .column3 {
                .flexcolumn();
            }
        }
    }
}