.center {
  margin: auto;
}
a {
  color: #c57633;
  text-decoration: none;
}
.nav-option {
  color: #c57633;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.clicked {
  border: 2px solid #c57633;
  font-weight: bold;
}
li {
  list-style-type: disk;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 400px) {
  .App {
    max-width: 400px;
  }
}
@media only screen and (min-width: 430px) {
  .App {
    max-width: 430px;
  }
}
@media only screen and (min-width: 530px) {
  .App {
    max-width: 530px;
  }
}
@media only screen and (min-width: 730px) {
  .App {
    max-width: 730px;
  }
  .App header {
    padding: 1em;
  }
  .App header nav {
    background-color: #e8e8e8;
    border-radius: 20%;
  }
  .App header nav .nav-small {
    display: none;
  }
  .App header nav .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .App header nav .nav .nav-option {
    padding: 1em;
    cursor: pointer;
  }
  .App footer .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .App footer .nav .column {
    padding: 1em;
    height: 340px;
    justify-content: flex-start;
  }
  .App footer .nav .column2 a {
    padding: 0.5em;
  }
}
